{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Telemetron plugin for Craft CMS 3.x
 *
 * Telemetron Settings.twig
 *
 * @author    Good Work
 * @copyright Copyright (c) 2022 Good Work
 * @link      https://simplygoodwork.com
 * @package   Telemetron
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}


{% set scriptTagOptions = {
    'depends': [
        'simplygoodwork\\telemetron\\assetbundles\\telemetron\\TelemetronAsset'
    ],
} %}

{{ craft.telemetron.register('src/index.js', false, scriptTagOptions) }}

<div>
    {{ forms.autosuggestField({
        label: 'Airtable API Key',
        instructions: 'Your Airtable API key',
        id: 'apiKey',
        name: 'apiKey',
        value: settings['apiKey'],
        suggestEnvVars: true,
        required: false,
        warning: _self.configWarning("apiKey", "telemetron"),
        placeholder: "$TELEMETRON_API_KEY",
    }) }}

</div>


{# Credit to nystudio107 for this handy snippet #}
{% macro configWarning(setting, file) -%}
  {%- set configArray = craft.app.config.getConfigFromFile(file) -%}
  {%- if configArray[setting] is defined -%}
      {{- "This is being overridden by the `#{setting}` setting in the `config/#{file}.php` file." |raw }}
  {%- else -%}
      {{ false }}
  {%- endif -%}
{%- endmacro %}
