{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Telemetron plugin for Craft CMS 4.x
 *
 * Telemetron Settings.twig
 *
 * @author    Good Work
 * @copyright Copyright (c) 2022 Good Work
 * @link      https://simplygoodwork.com
 * @package   Telemetron
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set scriptTagOptions = {
    'depends': [
        'simplygoodwork\\telemetron\\assetbundles\\telemetron\\TelemetronAsset'
    ],
} %}
{{ craft.telemetron.register('src/index.js', false, scriptTagOptions) }}

<div x-data="{test: ''}">

    {{ forms.autosuggestField({
        label: 'Airtable API Key',
        instructions: 'Your Airtable API key',
        id: 'apiKey',
        name: 'apiKey',
        value: settings['apiKey'],
        suggestEnvVars: true,
        required: false,
        placeholder: "$TELEMETRON_API_KEY",
    }) }}
</div>
