{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Telemetron plugin for Craft CMS
 *
 * Telemetron Widget Body
 *
 * @author    Good Work
 * @copyright Copyright (c) 2022 Good Work
 * @link      https://simplygoodwork.com
 * @package   Telemetron
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@simplygoodwork/telemetron/assetbundles/telemetronwidget/dist', true) ~ '/img/Telemetron-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
