{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Telemetron plugin for Craft CMS
 *
 * TelemetronSync Utility Content
 *
 * @author    Good Work
 * @copyright Copyright (c) 2022 Good Work
 * @link      https://simplygoodwork.com
 * @package   Telemetron
 * @since     1.0.0
 */
#}

<h1>Telemetron Sync</h1>

<button id="telemetron-sync" class="btn submit">Queue Sync</button>